@charset "utf-8";
/* 
폰트의 기본 크기 : 16px
크기 결정단위

1.px
2.% : 부모태그를 기준으로 백분율로표현
3.em : 부모태그를 기준으로 백분율로표현
4.rem : 루트태그를 기준으로 백분율로표현

*/
html{font-size: 10px;}
body{font-size: 1.8rem;}
.p1{
  font-size:26px;
  font-weight:900;
  font-style: italic;
  line-height: 1.5;
  border-bottom:1px solid #333;
}
.p2{
  font-size:2rem;
  color: blueviolet;
  letter-spacing: 30px;
}
a{text-decoration: none; color:#333;}
.bg-color{background-color: #ddd;}