@charset "utf-8";
*{}
body{background-color: #eee;}
.type1{border:1px solid black;width:50%;}
hr{width:90%;}
.type2{border:4px dotted red; width:500px;}
.ch_type{display: inline; border:2px dashed red;}
.ch_type2{display: block;border:2px double blue;}