@charset "utf-8";
.container{padding:50px;}
h3{font-size:36px; padding-bottom:50px;}
.img-area{position:relative;}
.img-round{position:absolute; overflow: hidden;
  width:200px; height:200px; border:4px solid red; border-radius: 50%; 
}
.img-round img{width:100%;
  
}
.img-round.rd-1{z-index:3; left:0px;}
.img-round.rd-2{z-index:2; left:100px;}
.img-round.rd-3{z-index:1; left:200px;}
.img-round.rd-4{z-index:1; left:0px; top:100px;}