@charset "utf-8";
.grid{display:grid;}
.container{
  grid-template-columns:repeat(3,100px);
  grid-template-rows:repeat(2,100px);
  width: 600px;
  height:400px;
  margin:20px auto;
  border:1px solid black;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto); 
  
  /*default 임 높이를 조절하는 아이*/
  align-items: stretch;
  /*justify-itmes 열의 너비 기준으로*/
  justify-items: center;
}

.container > div{border:1px solid red;}

.container > div:nth-child(1){
  align-self: self-start;
}
