<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!--namespace 의 내용은 interface 파일명의 패키지 포함해서적기-->
<mapper namespace="com.green.basic_board.mapper.BoardMapper">
    <!--모든게시글조회-->
    <select id ="selectBoardList" resultType="BoardDTO">
        SELECT *
        FROM BASIC_BOARD
        ORDER BY CREATE_DATE DESC
    </select>

    <!--상세보기를 위한 하나의 게시글정보조회-->
    <select id ="getBoard" resultType="BoardDTO">
        SELECT *
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <insert id="insertBoard">
        INSERT INTO BASIC_BOARD(
        TITLE
        ,WRITER
        ,CONTENT
        )
        VALUES (
        #{title}
        ,#{writer}
        ,#{content}
        )
    </insert>

</mapper>